<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1">
    <test name="test1">
        <classes>
            <class name="firstTest"></class>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="secondTest"></class>
        </classes>
    </test>
</suite>